.wrapperClass{
    background-color: rgb(29,41,39);
    display: flex;
    justify-content: center;
    padding: 5px;

    .container{
        width: 65%;
        padding: 80px;
        .heading{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: whitesmoke;
            margin-bottom: 50px;

            span{
                font-weight: 100;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.4rem;
            }
            h2{
                font-weight: 700;
                font-size: 3.2rem;
            }
        }
        .infoSection{
            display: flex;
            gap: 5px;

            .info{
                display: flex;
                flex-direction: column;
                gap: 5px;
                color: whitesmoke;
                align-items: center;

                .percentage{
                    font-weight: 500;
                    font-size: 5.2rem;
                }
                #desc{
                    font-size: 1.2rem;
                    width: 80%;
                    font-weight: 100;
                    text-align: center;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                }
            }
        }

    }
}

@media (max-width:780px) {
    .wrapperClass{
        background-color: rgb(29,41,39);
        display: flex;
        justify-content: center;
        padding: 5px;
    
        .container{
            width: 100%;
            padding: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .heading{
                display: flex;
                flex-direction: column;
                gap: 5px;
                color: whitesmoke;
                margin-bottom: 50px;
    
                span{
                    font-weight: 100;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2rem;
                }
                h2{
                    font-weight: 600;
                    font-size: 2.9rem;
                }
            }
            .infoSection{
                display: flex;
                gap: 36px;
                flex-direction: column;
                align-items: center;
    
                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    color: whitesmoke;
                    align-items: center;
    
                    .percentage{
                        font-weight: 500;
                        font-size: 5.2rem;
                    }
                    #desc{
                        font-size: 1.2rem;
                        width: 100%;
                        font-weight: 100;
                        text-align: center;
                        font-family:Georgia, 'Times New Roman', Times, serif;
                    }
                }
            }
    
        }
    }
}