main{
    display: flex;
    gap: 15px;
    justify-content: center;

      .guided_Workshop{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 360px;
        height: max-content;
       
        padding: 9px;
        .More_Details{
            color: rgb(108,107,107);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 0.9rem;
            line-height: 1.5;
            text-align: justify;
        }
        h4{
            font-size: 1.9rem;
        }
            img{
                border-radius: 50%;
            }
      }
     
}

@media (max-width:770px) {
    main{
        display: flex;
        gap: 15px;
        justify-content: center;
    
          .guided_Workshop{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 360px;
            height: max-content;
           
            padding: 9px;
            .More_Details{
                color: rgb(108,107,107);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 0.9rem;
                line-height: 1.5;
                text-align: justify;
            }
            h4{
                font-size: 1.9rem;
            }
                img{
                    border-radius: 50%;
                }
          }
         
    }
}