.wrapperclass{
    display: flex;
    justify-content: center;
    position: relative;
    .uls{
        display: flex;
        gap: 20px;
        padding: 16px;
        height: 5vh;
      li{
        list-style: none;
        cursor: pointer;
        padding: 8px;
        border-top: 1px solid black;
        transition: all 15ms ;
      }
      li:hover{
        border-top: 3px solid ;
      }  
    }
    .Hamnav{
      display: none;
    }
}

@media (max-width:775px) {
  .wrapperclass{
    display: flex;
    nav{
      display: none;
    }
    .uls{
      display: none;
    }
    .Hamnav{
      display: flex;
      width: 100%;

      .UlHamburger{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        align-items: center;

        li{
          list-style: none;
        }
      }
    }
  }
}